/*CUSTOM FONTS*/
/*@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'), local('ConcertOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/concertone/v4/eNLG875uBc3mU2X9z56PW4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}*/
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
img{
    outline: 0;
    border: 0;
}
h3{
    color:#ff6a00;
    font-family:Arial;
    font-weight:bolder;
    font-size:25px;
    text-shadow:0px 0px 9px #000, 0px 0px 9px #000;
}
body {
    background-color:#ff6a00;
    background-image:url("../images/bkg.png");
    padding:0;
    margin:0;
    padding-bottom:15px;
}

/*PLAYER*/
.player_bar{
    width:100%;
    background-color:rgba(255,255,255,.9);
    height:30px;
    box-shadow:0px 0px 30px 0px rgba(0,0,0,.5);
    font-family:Arial;
    font-size:15px;
    line-height:30px;
}
    .player_bar .anuncios{
        white-space:nowrap;
    }

/*LOGO*/

.logo{
    width:565px;
    height:300px;

    margin-left:auto;
    margin-right:auto;
}

/*CONTENT OF PAGE*/
.page{
    width:100%;
    margin-top: 20px;
    margin-left: 20px;
}


/*CONTENT BODY*/
    
    .content {
        box-shadow:0px 0px 30px 0px rgba(0,0,0,.5);
        width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
    /*NAVBAR*/

    .top_bar{
        height:40px;
        background-color:white;
        background-image:url("../images/toppbar_bkg.png");
        background-position:bottom;
        background-repeat:repeat-x;
        width:1000px;
        margin-left:auto;
        margin-right:auto;
        padding-top:10px;
    }
    .menu-main-menu-container{
        margin-left:10px;
        margin-right:10px;
        height:40px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }
        .menu-main-menu-container ul{
        margin: 0;
        padding: 0;
        }
        .menu-main-menu-container ul li{
            
            display: inline-block;
           
            /*font: bolder 20px Arial;*/
            height: 40px;
            z-index: 9;

        }
        .menu-main-menu-container ul li a{
            font-family: "Vollkorn", Arial, sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: #ff6a00;
            line-height: 40px;
            padding: 0 15px;
            display: block;
            height: 40px;
        }
        .menu-main-menu-container a:hover {
            box-shadow: inset 0px -5px 0px 0px #ff6a00;
            -webkit-transition: box-shadow .1s;
        }
    
    /*CONTENT HOLDER*/

        .left_column{
            float:left;
            width:71%;
        }
        .right_column{
            margin-top:10px;
            margin-left: 15px;
            float:left;
            width:250px;

        }
        .right_column .widget{
            width:260px;
            margin-bottom: 10px;
            box-shadow:0px 0px 15px 0px rgba(0,0,0,.5);
        }
        .right_column .widget .title{
            height:150px;
            min-width:260px;
            max-width:260px;
            position:relative;
        }
        .right_column .widget .title img{
            border-bottom:4px solid #ff6a00;
        }
        .right_column .widget .title h3{
            position:absolute;
            top:95px;
            left:15px;
        }
        .right_column .widget .conteudo{
            list-style-image:url("../images/list_arrow.gif");
            padding-bottom:10px;
        }
        .widget ul li:hover{
            list-style-image:url("../images/list_arrow_over.gif");
            cursor:pointer;
        }
        .middle_bar{
            width:1000px;
            background-color:white;
            margin-left:auto;
            margin-right:auto;
        }
        
        .noticias{
            padding-left:10px;
            width:700px;
            padding-bottom:30px;
        }
        .noticias .noticia {
            box-shadow:0px 0px 15px 0px rgba(0,0,0,.5);
            margin-bottom:15px;
            margin-top: 20px;
        }
        .noticias .titulo{
            overflow: hidden;
            position:relative;
            width:100%;
            height: 150px;
            width: 700px;
            border-bottom: 4px solid #ff6a00 !important;
        }
        .noticias .titulo img{
            height: 150px;
            width: 700px;
        }
        .noticias .titulo h2{
            position:absolute;
            top:95px;
            left:15px;
            color:#ff6a00;
            font-family:Arial;
            font-weight:bolder;
            font-size:25px;
            text-shadow:0px 0px 9px #000, 0px 0px 9px #000;
        }
        .noticias .conteudo{
            text-align:justify;
            padding:15px;
            font-family:Arial;
        }
        .noticia .data{
            background-image:url("../images/dataNoticia.png");
            background-position:top;
            background-repeat:repeat-x;
            height:30px;
            line-height:30px;
            padding-left:15px;
        }
        .search_text{
            margin: 10px 0 5px 10px;
            padding-left: 10px;
            border: 1px solid #e7d2c3;
            border-bottom: 3px solid #ff6a00;
            height: 30px;
            width: 185px;
            float: left;
            display: block;
        }
        .search_btn{
            display: block;
            float: left;
            background: url(../images/search.png) no-repeat center center;
            height: 36px; width: 37px;
            margin-top: 10px;
            margin-left:5px;
            border: 1px solid #e7d2c3;
            border-bottom: 3px solid #ff6a00;
        }
        .social{
            width: 160px;
            margin: 10px auto;
        }
        .social img{
            margin-right: 10px;
        }

	.h3Generic{
	    margin-top: 2px;
	    margin-left: 10px;
            color:#ff6a00;
            font-family:Arial;
            font-weight:bolder;
            font-size:25px;
            text-shadow:0px 0px 9px #000, 0px 0px 9px #000;
	}

.post_preview{
            width:239px;
            margin: 0 auto;
        }
        .post_preview a
        {
            width: 239px;
            height: 51px;
            position: relative;
            display: block;
            margin: 0; padding: 0;
            border-bottom:4px solid #ff6a00;
        }
        .post_preview a img{
            /*border-bottom:4px solid #ff6a00;*/
        }
        .post_preview a h3{
            position:absolute;
            bottom:-15px;
            left:5px;
            color:#ff6a00;
            font-family:Arial;
            font-weight:bolder;
            font-size:15px;
            text-shadow:0px 0px 9px #000, 0px 0px 9px #000;
        }
        .wp-caption
        {
            width: auto !important;
            position: relative;
            border-top: solid 4px #ff6a00;
        }
        .alignleft{
            float: left;
            margin: 10px;
            margin-left: 0;
        }
        .alignright{
            float: right;
            margin: 10px;
            margin-right: 0;
        }
        .wp-caption .wp-caption-text
        {
            position: absolute;
            left: 0;
            bottom: -8px;
            color: white;
            padding: 5px 10px;
            background-color: rgba(0,0,0,.5);
            font-size: 0.67em;
        }

        #nav-below a
        {
            display: inline-block;
            background-color: white;
            border: 1px solid #FFDCC3;
            border-bottom: 4px solid #ff6a00;
            height: 30px;
            padding: 5px;
        }
        #nav-below .nav-previous
        {
            float: left;
            width: 50%;
            margin-bottom: 10px;
        }
        #nav-below .nav-next
        {
            float: left;
            width: 50%;
            margin-bottom: 10px;
            text-align: right
        }

.comments{
        width: 700px;
        margin-left: 10px;
    }
    .comments .comments-title {
        height: 30px;
        width: 700px;
        border-bottom: 4px solid #ff6a00;
        text-align: left;
        line-height: 30px;
        font-size: 23px;
        box-shadow: 0px 0px 15px rgba(0,0,0,.3);
        font-family: Arial, sans-serif;
        margin-bottom: 10px;
    }
    .comment{
        min-height: 95px;
        border-left: 4px solid #ff6a00;
        box-shadow: 0px 0px 15px rgba(0,0,0,.3);
        margin-bottom: 10px;
    }
    .comment .comment-avatar{
        float: left;
        width: 90px;
    }
    .comment .comment-avatar img {
        border-bottom: 4px solid #ff6a00;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .comment .comment-body{
        float: left;
        width: 580px;
        padding-left: 5px;
        padding-top: 10px;
    }
.comment_name{
    margin-bottom: 5px;
margin-right: 5px;
padding-left: 10px;
border: 1px solid #e7d2c3;
border-bottom: 3px solid #ff6a00;
height: 30px;
width: 400px;
float: left;
display: block;
}
.comment_mail{
    padding-left: 10px;
border: 1px solid #e7d2c3;
border-bottom: 3px solid #ff6a00;
height: 30px;
width: 270px;
float: left;
display: block;
}
.comment_text{
    padding-left: 10px;
border: 1px solid #e7d2c3;
border-bottom: 3px solid #ff6a00;
height: 100px;
width: 685px;
float: left;
display: block;
}
#submit{
    background: white;
width: 150px;
height: 36px;
margin-top: 10px;
border: 1px solid #e7d2c3;
border-bottom: 3px solid #ff6a00;
}